body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header Section */
header {
  /* padding: 20px; */
  border-bottom: 1px solid #007d2f;

  & .header-opt {
    display: inline-block;
    background-color: #007d2f;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
  }
}
