@tailwind base;
@tailwind components;
@tailwind utilities;

.app-main {
  min-height: calc(100vh - 141px);
}
a {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: #00b244 !important;
}
.text-primary:hover {
  color: #007d2f !important;
}

.nav-icon-size {
  width: 40px;
  height: 40px;
}
